<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<th:block th:if="${status == 0}">
    <h3>Add Picture</h3>
</th:block>
<th:block th:unless="${status == 0}">
    <h3>Edit Picture</h3>
</th:block>
<p>
    <a th:href="@{/pictures/}">
        Back to picture list
    </a>
</p>
<div id="form">
    <form th:action="@{/pictures/updatePicture}" th:object="${picture}"
          th:method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Picture Code</label>
            <input type="text" th:field="*{pictureCode}"/>
        </div>
        <div>
            <label>Picture Width</label>
            <input type="number" th:field="*{pictureWidth}"/>
        </div>
        <div>
            <label>Picture Height</label>
            <input type="number" th:field="*{pictureHeight}"/>
        </div>
        <div>
            <label>Picture Describe</label>
            <input type="text" th:field="*{pictureDescribe}"/>
        </div>
        <div>
            <label>Picture Material</label>
            <input type="text" th:field="*{pictureMaterial}"/>
        </div>
        <div>
            <label>Picture Price</label>
            <input type="number" th:field="*{picturePrice}"/>
        </div>

        <th:block th:if="${status == 0}">
            <input type="submit" value="Add"/>
        </th:block>
        <th:block th:unless="${status == 0}">
            <input type="submit" value="Edit"/>
        </th:block>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>